<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aspire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_main_shadow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".YourGroupActivity" />
        <activity android:name=".PersonPageActivity" />
        <activity android:name=".AddPostActivity" />

        <activity android:name=".CreateGroupActivity" />
        <activity android:name=".GroupManageActivity" />
        <activity android:name=".JoinGroupActivity" />
        <activity android:name=".MemberOptionActivity" />
        <activity android:name=".NewFeedActivity" android:theme="@style/android_2_style"/>
        <activity android:name=".NonGroupManageActivity" />
        <activity android:name=".PostListActivity" android:theme="@style/android_2_style"/>
        <activity android:name=".SettingActivity" /> <!-- //Tran Minh Phuc -->
        <activity
            android:name=".MembersActivity"
            android:theme="@style/android_2_style" />

        <activity
            android:name=".CommentsActivity"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".signUp.SignUpErrorActivity"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".signUp.SignUpSuccessActivity"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".signUp.InputPasswordActivity"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".signUp.InputEmailActivity"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".signUp.InputUsernameActivity"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".signUp.InputFullNameActivity"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".signUp.StartSignUp"
            android:theme="@style/android_2_style" />
        <activity
            android:name=".StartingActivity"
            android:theme="@style/Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Starting" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Starting" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/Starting" /> <!-- //Tran Minh Phuc -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>